main section h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 3px solid white;
}

.blue {
    color: blue;
    border-color: blue;
}

.orange {
    color: orange;
    border-color: orange;
}

.red {
    color: red;
    border-color: red;
}

.purple {
    color: purple;
    border-color: purple;
}

.green {
    color: #00ff00;
    border-color: #00ff00;
}

.aqua {
    color: aqua;
    border-color: aqua;
}

.f_06 {
    color: #06f;
    border-color: #06f;
}

.catalog {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.Newses {
    margin-top: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .News {
    border-radius: 20px;
    padding: 15px;
    border: 5px solid #c126c1;
    width: 100%;
    height: 240px;
    flex: 0 1 240px;
} */

.catalog2 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog2 .card, .Newses .card {
    width: 240px;
    flex: none;
}

.card, .News {
    border-radius: 20px;
    padding: 15px;
    border: 5px solid #c126c1;
    width: 100%;
    height: 240px;
    flex: 1 0 240px;
    transition: all .3s;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.327);
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    background-color: white;
}

.card div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 8px;
}

.card h3 { grid-area: 1 / 1 / 2 / 3; }
.card p { grid-area: 2 / 1 / 3 / 3; }
.card .h3_2 { grid-area: 3 / 1 / 4 / 2; }
.card button { grid-area: 3 / 2 / 4 / 3; }
.card .h3_3 { grid-area: 3 / 2 / 4 / 3; }