main section h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-bottom: 20px;
    border-bottom: 3px solid white;
}

.blue {
    color: blue;
    border-color: blue;
}

.orange {
    color: orange;
    border-color: orange;
}

.red {
    color: red;
    border-color: red;
}

.purple {
    color: purple;
    border-color: purple;
}

.green {
    color: #00ff00;
    border-color: #00ff00;
}

.aqua {
    color: aqua;
    border-color: aqua;
}

.f_06 {
    color: #06f;
    border-color: #06f;
}

.scrolls {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.Newses {
    margin-top: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .News {
    border-radius: 20px;
    padding: 15px;
    border: 5px solid #c126c1;
    width: 100%;
    height: 240px;
    flex: 0 1 240px;    
} */

.catalog2 .card, .Newses .card {
    width: 240px;
    /* height: 200px; */
    flex: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card, .News {
    border-radius: 20px;
    padding: 15px;
    border: 5px solid #c126c1;
    width: 100%;
    height: 240px;
    flex: 1 0 240px;
    transition: all .3s;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.327);
}

.card_img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card_div_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart_div{
    display: flex;
    justify-content: space-between;
}